<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.zy.entity.Product" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="pro_sort" property="proSort" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pro_name, pro_sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zy.entity.Product" >
    insert into product (id, pro_name, pro_sort
      )
    values (#{id,jdbcType=BIGINT}, #{proName,jdbcType=VARCHAR}, #{proSort,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zy.entity.Product" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="proSort != null" >
        pro_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proSort != null" >
        #{proSort,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.entity.Product" >
    update product
    <set >
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proSort != null" >
        pro_sort = #{proSort,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.entity.Product" >
    update product
    set pro_name = #{proName,jdbcType=VARCHAR},
      pro_sort = #{proSort,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>