<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zy.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="usex" property="usex" jdbcType="TINYINT" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="level1_code" property="level1Code" jdbcType="INTEGER" />
    <result column="level2_code" property="level2Code" jdbcType="INTEGER" />
    <result column="level3_code" property="level3Code" jdbcType="INTEGER" />
    <result column="level1_name" property="level1Name" jdbcType="VARCHAR" />
    <result column="level2_name" property="level2Name" jdbcType="VARCHAR" />
    <result column="level3_name" property="level3Name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uname, usex, telephone, password, level1_code, level2_code, level3_code, level1_name, 
    level2_name, level3_name, address, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.entity.User" >
    insert into user (id, uname, usex, 
      telephone, password, level1_code, 
      level2_code, level3_code, level1_name, 
      level2_name, level3_name, address, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{usex,jdbcType=TINYINT}, 
      #{telephone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{level1Code,jdbcType=INTEGER}, 
      #{level2Code,jdbcType=INTEGER}, #{level3Code,jdbcType=INTEGER}, #{level1Name,jdbcType=VARCHAR}, 
      #{level2Name,jdbcType=VARCHAR}, #{level3Name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="usex != null" >
        usex,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="level1Code != null" >
        level1_code,
      </if>
      <if test="level2Code != null" >
        level2_code,
      </if>
      <if test="level3Code != null" >
        level3_code,
      </if>
      <if test="level1Name != null" >
        level1_name,
      </if>
      <if test="level2Name != null" >
        level2_name,
      </if>
      <if test="level3Name != null" >
        level3_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null" >
        #{usex,jdbcType=TINYINT},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="level1Code != null" >
        #{level1Code,jdbcType=INTEGER},
      </if>
      <if test="level2Code != null" >
        #{level2Code,jdbcType=INTEGER},
      </if>
      <if test="level3Code != null" >
        #{level3Code,jdbcType=INTEGER},
      </if>
      <if test="level1Name != null" >
        #{level1Name,jdbcType=VARCHAR},
      </if>
      <if test="level2Name != null" >
        #{level2Name,jdbcType=VARCHAR},
      </if>
      <if test="level3Name != null" >
        #{level3Name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.entity.User" >
    update user
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null" >
        usex = #{usex,jdbcType=TINYINT},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="level1Code != null" >
        level1_code = #{level1Code,jdbcType=INTEGER},
      </if>
      <if test="level2Code != null" >
        level2_code = #{level2Code,jdbcType=INTEGER},
      </if>
      <if test="level3Code != null" >
        level3_code = #{level3Code,jdbcType=INTEGER},
      </if>
      <if test="level1Name != null" >
        level1_name = #{level1Name,jdbcType=VARCHAR},
      </if>
      <if test="level2Name != null" >
        level2_name = #{level2Name,jdbcType=VARCHAR},
      </if>
      <if test="level3Name != null" >
        level3_name = #{level3Name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.entity.User" >
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      usex = #{usex,jdbcType=TINYINT},
      telephone = #{telephone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      level1_code = #{level1Code,jdbcType=INTEGER},
      level2_code = #{level2Code,jdbcType=INTEGER},
      level3_code = #{level3Code,jdbcType=INTEGER},
      level1_name = #{level1Name,jdbcType=VARCHAR},
      level2_name = #{level2Name,jdbcType=VARCHAR},
      level3_name = #{level3Name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>