<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>
    <span onclick="toPractice()">练习题库 </span>
    <span>相似练习题查询 </span>
    <span>个性化联系 </span>
</p>

<p>
    <span>search:</span><input id="title" type="text" placeholder="输入"/><button id="search">查询</button>
</p>
<table class="table">
    <tr>
        <th>编号</th>
        <th>题名</th>
    </tr>

    <tr>
        <th>1</th>
        <th>二傻子</th>
    </tr>

</table>
</body>

<script>
    //删除教练数据
    function toPractice(){
        window.location.href = "practiceBank";
    };
</script>

</html>