<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>
    <span>练习题库 </span>
    <span>相似练习题查询 </span>
    <span>个性化联系 </span>
</p>

<p>
    <span>search:</span><input id="title" type="text" placeholder="输入"/><button th:type="button" onclick="practiceList()">查询</button>
</p>
<div th:if="${not #lists.isEmpty(practiceList)}">
    <div>
        <ul>
            <li th:each="practice:${practiceList}">
                <a th:href="${practice.url}"><span th:text="${practice.title}"></span></a>>
                <span th:text="${practice.url}"></span>
            </li>
        </ul>
    </div>
</div>
</body>

<script>
    //删除教练数据
    function practiceList(){
        var adata = {
            "pageNum" : 1,
            "pageSize" : 10
        };
        var data = JSON.stringify(adata);
        $.ajax({
            type : "GET",
            // dataType: "json",//通过GET方式上传请求
            // contentType : "application/json",//上传内容格式为json结构
            // data : data,                                 //上传的参数
            async: false ,
            url : "/practice/getPractices"
        });
    };
</script>

</html>